<div class="container mt-5 bg-dark text-light ">
    <div class="row d-flex justify-content-between">
    <div class="card bg-dark "style="font-family: cursive ;">
        <h2>Results</h2>
        <h3>Congratulations, you have completed the Test!</h3>
        <div class="results col-md-6 col-sm-12" >
                <p>
                    Correct Responses Recorded:{{correctResponses}}
                </p>
                <p>
                    Wrong Responses Recorded:{{wrongResponses}}
                    
                </p>
                <p>
                    Total Score:{{score}}/{{(correctResponses+wrongResponses)*10}}    
                </p>

            </div>
           
            
            
            

        </div>

    </div>
</div>
